/* App */
.header {
  height: 30px;
}

/* Products Header */
.product-header {
  display: grid;
  padding-left: 1%;
  padding-right: 1%;

}
.module-title {
  grid-column: 1 / 3;
  text-transform: uppercase;
}
.module-menu-a {
  grid-column: 3 / 4
}